@import "_reset.scss";
@import "_fonts.scss";
@import "_colors.scss";

body {
    background-color: $color-w;
    h1{
        color: $color-b;
        font-size: 70px;
        text-align: center;
        padding-top: 20%;
    }
    
}


// 1. Header 
//   ==============================================================



// 1. Content
//   ==============================================================



// 1. Footer 
//   ==============================================================



// 1. Media
//   ==============================================================